@font-face {
    font-family: Horta;
    src: url("/static/css/Horta.otf");
}

body {
    font-family: Horta;
    font-size: 2.2em;
}

#border{
    height:25px;
   width:100%;
   background-color:black;
}
.pokedex {
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    height: 800px;
    width: 1066px;
    background-image: url("../image/pokedex_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Nom{
    position: absolute;
    top:61%;
    left: 6%;
    text-align: start;
}

.idPok{
    position: absolute;
    top:64%;
    left: 35%;
}

.Name-eu {
    position: relative;
    font-style: italic;
}

.Name-fr {
    font-weight: bold;
    margin-bottom: -50px;
}

.description {
    width: 390px;
    position: absolute;
    left: 59%;
    text-align:left;
    top: 57%;
    font-size: 0.8em;
}

.type{
    position: absolute;
    top: 23%;
    left: 60%;
}

.types {
    position: absolute;
    display: flex;
    top: 26%;
    left: 79%;
    height: 10%;
    text-align: center;
    flex-direction: row-reverse;
}

.stats{
    position: absolute;
    top: 33%;
    left: 60%;
    margin-top: 0%;
    text-align: start;
}

.list{
    margin-left: 30px;
    font-size: 0.8em;
    list-style-type:none;
}

li.stats{
   margin-left: 20px;
}

.pokemon {
    position: absolute;
    top: 30%;
    left: 15%;
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
}

.Posision_bouton {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    position: relative;
    bottom: 28%;
}

.bouton {
    align-items: center;
    position: absolute;
    top: 26em;
    left: 64%;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: 40px;
    flex-flow: wrap;
    align-items: center;
}

.fleche {
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    position: relative;
    align-items: center;
}

.fleche IMG {
    height: 50px;
}

.fleche IMG {
    height: 50px;
}