<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="icon" href="/static/image/logo.png"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    <title>Pokémon</title>


</head>

<body>
    <div class="element">
        {% for Pokemon in allPokemon %}
        <div class="block">
        <h5 class="name">{{Pokemon.name.fr}}</h5>
            <a href="/pokedex/{{Pokemon.id}}"><img
                    src="Https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/{{Pokemon.id}}.svg"
                    alt="une erreur c'est produire lors du chargement de l'image">
            </a>
            <span class="id">Id:{{Pokemon.id}}</span>
        </div>
        {% endfor %}
    </div>

</body>

</html>