{% set next  = pokemon['id'] %}
{% set next = next+1%}
{% set presende  = pokemon['id'] %}
{% set presende = presende - 1 %}

{% if presende < 1 %}
  {% set presende  = 1 %}  
{% endif %}
   



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <title>Document</title>
</head>
<body>
    <Div class="Nom">
        <p class="Name-fr">{{pokemon['name']['fr']}}</p>
        <p class="Name-eu">{{pokemon['name']['en']}}</p>
    </Div>
    <div class="description">
        <p class="idPok"><b> id :</b> {{pokemon['id']}}</p>
        <img src="Https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/{{pokemon['id']}}.svg" alt="" class="pokemon">
        <p> description :{{pokemon['description']['fr']}} </p>
    </div>
    <div class="type">
        <p>Type :</p>
        <img src="../static/image/type/{{pokemon['types'][0]}}.png" alt="">  
        {% if pokemon['types'][1] is defined %}
        <img src="../static/image/type/{{pokemon['types'][1]}}.png" alt="">

        {% endif %}

    </div>

<div class="bouton">
    <div class="fleche">
        <a href="/pokedex/{{presende}}"><img src="/static/image/left-arrow.png"></a>
    </div>
    <div class="fleche">
         <a href="/"><img src="/static/image/home.png"></a>
    </div>
    <div class="fleche">
         <a href="/pokedex/{{next}}"><img src="/static/image/right-arrow.png"></a>
    </div>
    </div>
</body>
</html>