{% set next = pokemon['id'] %}
{% set next = next+1%}
{% set presende = pokemon['id'] %}
{% set presende = presende - 1 %}

{% if presende < 1 %} {% set presende=1 %} {% endif %} 
{% if next > 649 %} {% set next= 649 %} {% endif %}


<!DOCTYPE html>
    <html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/pokedex.css" />
        <title>Pokedex</title>
    </head>

    <body>

        <div class="pokedex">
            <p class="idPok"><b> id :</b> {{pokemon['id']}}</p>
            <img src="Https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/{{pokemon['id']}}.svg"
                alt="" class="pokemon">
            <div class="description">
                <p>{{pokemon['description']['fr']}} </p>
            </div>
            <div class="Nom">
                <h3 class="Name-fr">{{pokemon['name']['fr']}}</h3>
                <p class="Name-eu">{{pokemon['name']['en']}}</p>
            </div>

            <div class="Posision_bouton">
                <div class="bouton">
                    <div class="fleche">
                        <a href="/pokedex/{{presende}}"><img src="/static/image/left-arrow.png"></a>
                    </div>
                    <div class="fleche">
                        <a href="/"><img src="/static/image/home.png"></a>
                    </div>
                    <div class="fleche">
                        <a href="/pokedex/{{next}}"><img src="/static/image/right-arrow.png"></a>
                    </div>
                </div>
            </div>


            <p class="type">Type :</p>
            <div class="types">
                {% if pokemon['types'][1] is defined %}
                <img src="../static/image/type/{{pokemon['types'][1]['name']['en']}}.png" alt="">
                {% endif %}
                <img src="../static/image/type/{{pokemon['types'][0]['name']['en']}}.png" alt="">
            </div>
            <div class="stats">
                <span>Stats:</span>
                <li class="list">hp: {{pokemon['stats'][0]['stat']}}</li>
                <li class="list">attack: {{pokemon['stats'][1]['stat']}}</li>
                <li class="list">defense: {{pokemon['stats'][2]['stat']}}</li>
                <li class="list">special-attack: {{pokemon['stats'][3]['stat']}}</li>
            </div>
        </div>


    </body>

    </html>